img{
    float: left;
    height: 420px;
    width: 420px;
    border-radius: 50px;
    margin-top: 80px;
}

div {
margin-left: 500px;
}

span{
    color: blue;
}

h1 { border-bottom-style: inset; }  
pre { font-size: 1.2em; }
.fonteAzul { color: blue; }
.oculta { display: none; }
.exibe { display: inline; }
.italico { font-style: italic; }